extends layout

block content
  div#content
    h3 what?
    p
      | LetterPwn is a solver for the iOS game 
      a(href='http://www.atebits.com/letterpress') Letterpress
      |  by Loren Brichter.
    h3 why?
    p
      | For kicks, and also to see how hard it 
      | would be to do a computation-heavy service in
      | 
      a(href='http://nodejs.org/') Node.JS
      | .
      | You can read about the 
      a(href='http://neilk.net/blog/2013/04/16/letterpwn-a-nodejs-based-letterpress-solver/') solver algorithm 
      |, or (coming soon) how
      | I made it able to serve many users at once.
    h3 how?
    p
      a(href='https://github.com/neilk/letterpwn') Source code on Github
    h3 who?
    p
      a(href='http://neilk.net/') Hi there
      |. 
      |  I'm looking for jobs or 
      | contracts right now - you can check out my 
      a(href='http://neilk.net/resume') resume
      |. 

