extends layout

block content
  div#content
    p 
      | Hosted on 
      a(href='http://heroku.com') Heroku
      |.
      | The typeface is CoreHumanistSans, &copy; 2011 by Alex Scholing, freely licensed from
      | 
      a(href='http://www.fontsbyalex.com/') Fonts by Alex
      |.
