doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.0.custom.css')
  body
    h1= title
    div#sly(style='width: 300px; border: 1px solid red')
    script(src='/javascripts/jquery-1.9.0.js')
    script(src='/javascripts/jquery-ui-1.10.0.custom.js')
    script(src='/javascripts/slidetest.js')
