extends layout

block content
  div(id='content')
    if errors.length > 0
      ul 
        for error in errors
          li= error.param + ': ' + error.msg
    div(id='controls')
      form(id='getBoard')
        table
          th
          each i in [0, 1, 2, 3, 4]
            tr
            each j in [0, 1, 2, 3, 4]
              td
                input.letter(class='letter', type='text', id='b' + (i * 5 + j), name='b' + (i * 5 + j), tabIndex=(i * 5 + j + 1), size=1, maxLength=1)
        p
          label minimum frequency
            input(name='minFrequency', value=minFrequency, size=2)
    div(id='results')
      p(id='timing')
      h2 Words?
      p(id='words')

block contentScripts
  script(src='/javascripts/index.js')
  
