extends layout

block content
  div#content
    if errors.length > 0
      ul 
        for error in errors
          li= error.param + ': ' + error.msg
    div#controls
      - var checker = 0;
      div#board
        each i in [0, 1, 2, 3, 4]
          each j in [0, 1, 2, 3, 4]
            - var id = (i * 5 + j);
            - checker ^= 1;
            div(id='tdb' + id, class='checker' + checker, style='display: inline-block; position:relative; left:' + j + 'em; top:' + i + 'em;')
              input.letter(type='text', id='b' + id, name='b' + id, tabIndex=id + 1, size=1, maxLength=1)
      table#paintControls
        tr
          td
            div#oursPaint.fill.ours
          td
            div#theirsPaint.fill.theirs
          td
            div#paintOff.fill
      p#devControls
        input#randomize(type='submit', value='randomize')
    div#results
      div#frequency
        div#frequencyDescription
          p
            span#frequencyLabel
              | Vocabulary:
            span#frequencyName
        div#frequencyCtrl
      div#words
      div#timing

block contentScripts
  script(src='/javascripts/letterpress-bitmask.js')
  script(src='/javascripts/index.js')
  
