extends layout

block content
  div#content
    if errors.length > 0
      ul 
        for error in errors
          li= error.param + ': ' + error.msg
    div#controls
      - var checker = 0;
      div#getBoard
        form
          table
            each i in [0, 1, 2, 3, 4]
              tr
              each j in [0, 1, 2, 3, 4]
                - var id = (i * 5 + j);
                - checker ^= 1;
                td(class='tdb' + id + ' checker' + checker)
                  input.letter(type='text', id='b' + id, name='b' + id, tabIndex=id + 1, size=1, maxLength=1)
      table#paintControls
        tr
          td
            div.iconHighlight
              div#enterText.icon
          td
            div.iconHighlight
              div#oursPaint.icon.ours
          td
            div.iconHighlight
              div#theirsPaint.icon.theirs
          td
            div.iconHighlight
              div#paintOff.icon
      p#devControls
        input#randomize(type='submit', value='randomize')
    div#results
      div#frequency
        div#frequencyDescription
          p
            span#frequencyLabelName
              | Vocabulary:
            span#frequencyLabel
        div#frequencyCtrl
      div#moves
      div#timing

block contentScripts
  script(src='/javascripts/letterpress-bitmask.js')
  script(src='/javascripts/index.js')
  
