doctype 5
html
  head
    title LetterPwn: a Letterpress solver by Neil K.
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/jquery-ui-1.10.2.custom/css/smoothness/jquery-ui-1.10.2.custom.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id='header')
      img(src='/logo.png', id='logo')
      h1 LetterPwn
      h2 a Letterpress solver by&nbsp;
        a(href='http://neilk.net/') Neil K.
      p
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        a(href='/about') about
    block content
    div#footer
      a(href='http://www.atebits.com/letterpress/')
        | Letterpress 
      | is a trademark of 
      a(href='http://atebits.com/') atebits
      |. LetterPwn is by 
      a(href='http://neilk.net/') Neil Kandalgaonkar&#32;
      | &copy; 2013.
      | 
      a(href='/colophon') Colophon
    script(src='/javascripts/jquery-1.9.0.js')
    script(src='/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.js')
    block contentScripts
    script
      // if loaded in an iframe, make sure that external links break out
      if (self !== top) {
        var proto = '^\\s*\\w+:\\/\\/';
        var protoRe = new RegExp(proto);
        var sameHostRe = new RegExp(proto + self.location.host);
        jQuery('a').each(function() {
          if (this.href.match(protoRe) && !this.href.match(sameHostRe)) {
            var escapedHref = this.href.replace('"', '\\"'); // paranoia
            this.href = 'javascript:top.location="' + escapedHref + '"';
          }
        });
      }
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39611348-1']);
      _gaq.push(['_setDomainName', 'letterpwn.neilk.net']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
